<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Nom</th>
      <th scope="col">Type Abonnement</th>
      <th scope="col">Créé le</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cpt of comptes">
        <td>{{cpt.codeClient}}</td>
        <td>{{cpt.nom}}</td>
        <td>{{cpt.typeAbo}}</td>
        <td>{{cpt.dateCreation | date:'dd/MM/yyyy'}}</td>
        <td>
          <button type="button" class="btn btn-default">
            Modifier
          </button>
      </td>
    </tr>
  </tbody>
</table>