<div class="main-div">
  <mat-card class="login-card">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <mat-card-header>
        <mat-card-title>Connexion</mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
        <div class="login-container">
          <mat-form-field>
            <input matInput placeholder="Login" name="login" ngModel required>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Mot de passe" name="pass" ngModel required>
          </mat-form-field>
        </div>
      </mat-card-content>
      
      <mat-card-actions align="end">
        <button type="submit" [disabled]="f.invalid" mat-raised-button color="primary">
          <mat-icon>lock</mat-icon> Connexion
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>