<div class="row">
    <div class="col-sm-12 col-sm-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="name">
            Login
          </label>
          <input type="text" id="login" class="form-control" name="login" ngModel required>
        </div>
        <div class="form-group">
          <label for="status">
            Mot de passe
          </label>
          <input type="password" id="pass" class="form-control" name="pass" ngModel required>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Connexion</button>
      </form>
    </div>
  </div>
